body {
  background-color: #222;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: -1;
}

#video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  filter: blur(50px);
}

#video-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  margin-top: 50px;
  width: 150%;
}

.form-container table {
  width: 100%;
}

.form-container label {
  color: #fff;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  border: 2px solid rgba(210, 210, 210, .1);
  border-radius: 20px;
  outline: none;
  color: #fff;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 2px solid white;
  border-radius: 20px;
  outline: none;
  color: #fff;
}

button {
  display: flex;
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
}

button:hover {
  background: white;
  color: rgba(0, 0, 0, 1);
  border: 2px solid black;
}
body {
  background-color: #222;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: -1;
}

#video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  filter: blur(10px);
}

#video-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  border: none;
  padding: 15px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border: 2px solid white;
  border-radius: 20px;
  outline: none; /* Remove default outline */
}

button {
  display: flex;
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
}

button:hover {
  background: white;
  color: rgba(0, 0, 0, 1);
  border: 2px solid black;
}