  {% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>NightOwl</title>
  <!-- Bootstrap Datepicker CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

  <!-- Bootstrap Datepicker JS -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script> -->

  <script
    src="https://kit.fontawesome.com/1546d6398c.js"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
  <!-- Add your CSS link here -->
</head>
<body>
  <header>
    <div class="header-left">
      <h1 style="font-weight: 800">NightOwl</h1>
    </div>

    <div class="header-center">
      <input
        type="text"
        placeholder="Enter Zip Code"
        id="zipcode"
        name="zipcode"
      />
    </div>

    <div class="header-right">
      <button class="btn btn-primary">
        <a href="{% url 'events_create' %}" class="btn-link">Post an Event</a>
      </button>
      <a href="/profile">
        <i class="fas fa-user-circle" style="font-size: 150%"></i>
      </a>
      <a href="/logout">
        <i class="fas fa-sign-out-alt" style="font-size: 150%"></i>
      </a>
    </div>
  </header>

  <nav>
    <ul>
      <li>
        <a href="#"
          ><i class="fas fa-face-laugh-wink" style="font-size: 150%"></i>
          <p style="margin-top: 5px">Party</p></a
        >
      </li>
      <li>
        <a href="#"
          ><i class="fas fa-dice" style="font-size: 150%"></i>
          <p style="margin-top: 5px">Game</p></a
        >
      </li>
      <li>
        <a href="#"
          ><i class="fas fa-glass-cheers" style="font-size: 150%"></i>
          <p style="margin-top: 5px">Club</p></a
        >
      </li>
      <li>
        <a href="#"
          ><i class="fas fa-home" style="font-size: 150%"></i>
          <p style="margin-top: 5px">House Party</p></a
        >
      </li>
      <li>
        <a href="#"
          ><i class="fas fa-beer" style="font-size: 150%"></i>
          <p style="margin-top: 5px">Bar</p></a
        >
      </li>
    </ul>
  </nav>

  <main>
    <div class="search">
      <input
        type="text"
        placeholder="Search Parties"
        id="search"
        name="search"
      />
    </div>

    <div class="card-container">
      <div id="myModal" class="modal">
        <div id="modal-content">
          <span class="close">&times;</span>
          <h1>Event Details</h1>
          <div class="card">
            <div id="modal-content"></div>
            <div class="card-action"></div>
          </div>
        </div>
      </div>
      
      <!--   Display content on card     -->
      {% for event in events %}
        <div class="card" id="{{ forloop.counter }}" onClick="handleClick(event)">
          <div class="card-header">
            <i class="far fa-heart" style="font-size: 150%;"></i> <!-- Empty heart icon -->
          </div>
          <div class="card-body">
            <h1>{{ event.name }}</h1>
            <h2>{{ event.location }}</h2>
            <h3>{{ event.event_date_time|date:"F d, Y" }}</h3>
            <h3>{{ event.event_date_time|date:"g:i A" }}</h3>
            <h3>{{ event.capacity }}</h3>
            <!-- event data -->
          </div>
        </div>
      {% endfor %}
    </div>
  </main>
  
  <!-- Modal content -->
  <script>
    // Get the modal
    var modal = document.getElementById("myModal");
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    function handleClick(e) {
      const id = e.currentTarget.id
      modal.style.display = "block";
      var events = [
      {% for event in events %} {
        "name": "{{ event.name }}",
        "user": "{{ event.user }}",
        "type": "{{ event.type }}",
        "description": "{{ event.description }}",
        "location": "{{ event.location }}",
        "date_time": "{{ event.event_date_time }}",
        "capacity": "{{ event.capacity }}",
        "restrictions": "{{ event.restrictions }}",
        "notes": "{{ event.notes }}",
        "photo_url": "{{ event.photo_url }}",
        "update": "{% url 'events_update' event.id %}",
        "delete": "{% url 'events_delete' event.id %}",
        "photo": "{% url 'add_photo' event.id %}"
      },
      {% endfor %} 
      ];

      let post = events[id-1]
      myModal.innerHTML=`
              <div class="modal-content">
                <span class="close">&times;</span>
                <h1>Event Details</h1>
                  <div class="card">
                    <div class="modal-content">
                      <span class="card-title">${post.name}</span>
                      <p>User: ${post.user}</p>
                      <p>Type: ${post.type}</p>
                      <p>Description: ${post.description}</p>
                      <p>Location: ${post.location}</p>
                      <p>Date: ${post.date_time}</p>
                      <p>Capacity: ${post.capacity}</p>
                      <P>Restrictions: ${post.restrictions}</P>
                      <p>Notes: ${post.notes}</p>
                    </div>
                    <div class="card-action">
                      <a href="${post.update}">Edit</a>
                      <a href="${post.delete}">Delete</a>
                    </div>
                  </div>
                <!--    Photo on card     -->
                <img class="responsive-img card-panel" src="${post.photo_url}">
                <form action="${post.photo}" enctype="multipart/form-data" method="POST" class="card-panel">
                  {% csrf_token %}
                  <input type="file" name="photo-file">
                  <!-- if you need to style the above you'll need client side JS -->
                  <br><br>
                  <button type="submit" class="btn">Upload Photo</button>
                </form>
              </div>
      `
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";

    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";

      }
    }
  </script>
</body>
</html>